.notification-bell-menu{
	float: left;
}

header .bell_notification_container .notifications_lists_container{
	right: 0;
}
.bell_notification_container .notifications_lists_container{
	display: none;
	position: absolute;
	z-index: 10;
}

.notification_bell .bnb-pending-notifications{
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.notification_bell .bnb-pending-notifications span{
	position: absolute;
	right: -8px;
	top: -8px;
	color: white;
	background: #ea0a0a;
	font-size: 13px;
	padding: 2px;
	border-radius: 100px;
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notifications_lists_container .notifications_lists{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	border-radius: 3px;
	/* overflow: hidden; */
	max-width: 350px;
	width: 270px;
	font-size: 85%;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
	max-height: 200px;
	overflow-y: scroll;
	position: relative;
	left: inherit;
	right: 0;
	display: block;
}
nav .notifications_lists_container .notifications_lists{
	width: 180px;
}

.notifications_lists_container .notifications_lists > div {
	padding: 0px;
	border: 0;
}

.notifications_lists_container .notifications_lists > div:hover {
	background-color: #f5f5f5;
}

.notifications_lists_container  .notifications_lists > div:last-child {
	border-bottom: none;
}

.notifications_lists_container .notifications_lists > div a{
	color: #1d2129;
	box-shadow: none;
	padding: 10px;
	position: relative;
	display: block;
	white-space: normal;
}

.notifications_lists_container .notifications_lists::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color:rgba(208, 208, 208, 0.41);
}

.notifications_lists_container .notifications_lists::-webkit-scrollbar{
	width: 3px;
	background-color: rgba(208, 208, 208, 0.41);
}

.notifications_lists_container .notifications_lists::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: rgba(208, 208, 208, 0.41);
}
